<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <!-- <i class="feather icon-trending-up"></i> -->
                </div>
                <span class="b-title"><b>INGAR LAB</b></span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Home</label>
                </li>

                <li data-username="Dashboard" class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Management</label>
                </li>

                <li data-username="Entities" class="nav-item pcoded-hasmenu {% if segment in ['users', 'objectives', 'strains', 'measurement-type', 'bioreactor-type', 'devices', 'calibration', 'protocols'] %} active pcoded-trigger {% endif %}">
                    <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span>
                        <span class="pcoded-mtext">Entities</span></a>
                    <ul class="pcoded-submenu">
                        <li class="{% if segment == 'users' %}active{% endif %}"><a href="/users" class="">Users</a></li>
                        <li class="{% if segment == 'objectives' %}active{% endif %}"><a href="/objectives" class="">Objectives</a></li>
                        <li class="{% if segment == 'measurement-type' %}active{% endif %}"><a href="/measurement-type" class="">Measurement Types</a></li>
                        <li class="{% if segment == 'bioreactor-type' %}active{% endif %}"><a href="/bioreactor-type" class="">Bioreactor Types</a></li>
                        <li class="{% if segment == 'strains' %}active{% endif %}"><a href="/strains" class="">Strains</a></li>
                        <li class="{% if segment == 'devices' %}active{% endif %}"><a href="/devices" class="">Devices - Sensors</a></li>
                        <li class="{% if segment == 'calibration' %}active{% endif %}"><a href="/calibration" class="">Calibration</a></li>
                        <li class="{% if segment == 'protocols' %}active{% endif %}"><a href="/protocols" class="">Protocols</a></li>
                    </ul>
                </li>
                                
                <li class="nav-item pcoded-menu-caption">
                    <label>Experiments</label>
                </li>

                <li data-username="Import Experiment" class="nav-item {% if 'import' in segment %} active {% endif %}">
                    <a href="/experiment/import" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span><span
                            class="pcoded-mtext">Import Experiment</span></a>
                </li>
                
                <li data-username="Experiments" class="nav-item {% if 'experiment' in segment %} active {% endif %}">
                    <a href="/experiment" class="nav-link "><span class="pcoded-micon"><i class="feather icon-folder"></i></span><span
                            class="pcoded-mtext">Experiments</span></a>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>More Resources</label>
                </li>    

                <!-- <li data-username="Experiment Config File" class="nav-item {% if 'exp_config' in segment %} active {% endif %}">
                    <a href="/exp_config" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Create Exp. Config File</span></a>
                </li> -->

                
                <li data-username="Support Page" class="nav-item">
                    <a target="_blank" href="http://localhost:7474/browser/" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-cloud"></i>
                        </span>
                        <span class="pcoded-mtext">Neo4j Browser</span>
                    </a>
                </li>
                    
                <li class="nav-item pcoded-menu-caption">
                    <label>Account</label>
                </li>   
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>     
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>     
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
