{% extends "layouts/base.html" %}

{% block title %} Exp Config {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>Create Experiment Config File</h5>
                                    <hr>

                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                    
                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseExperiment" aria-expanded="true" aria-controls="collapseExperiment">
                                                        Experiment Details
                                                    </a>
                                                </h5> 
                                            </div> 
                                            
                                            <div id="collapseExperiment" class="card-body collapse"> 
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            {{ form.exp_run_id.label }}
                                                            {{ form.exp_run_id(class="form-control", placeholder="Enter Run ID") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            {{ form.exp_horizon.label }}
                                                            {{ form.exp_horizon(class="form-control", placeholder="Enter Horizon") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            {{ form.exp_horizon_unit.label }}
                                                            {{ form.exp_horizon_unit(class="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseObjective" aria-expanded="true" aria-controls="collapseObjective">
                                                        Objective
                                                    </a>
                                                </h5> 
                                            </div> 
                                            <div id="collapseObjective" class="card-body collapse"> 
                                                <div class="row">
                                                    <div class="col-md">
                                                        <div class="form-group">
                                                            {{ form.objective.label }}
                                                            {{ form.objective(class="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        
                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseResponsible" aria-expanded="true" aria-controls="collapseResponsible">
                                                        Responsibles
                                                    </a>
                                                </h5> 
                                            </div> 
                                            <div class="card-body collapse {% if form.add_responsible.data or form.resp_deleted.data %} show {% endif %}" id="collapseResponsible"> 

                                                <div class="row mb-2">
                                                    <div class="col-md-4">
                                                        {{ form.add_responsible(class="form-control btn-outline-primary") }}
                                                    </div>
                                                </div>
                                                {% for resp in form.responsibles %}
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            {{ resp.resp_name.label }}
                                                            {{ resp.resp_name(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            {{ resp.resp_role.label }} 
                                                            {{ resp.resp_role(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 align-self-end">
                                                        <div class="form-group">
                                                            {{ resp.resp_delete(class="form-control btn-outline-danger") }}
                                                        </div>
                                                    </div>
                                                    {{ resp.hidden_tag() }}
                                                </div>
                                                {% endfor %}
                                            </div> 
                                        </div>

                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseMBR" aria-expanded="true" aria-controls="collapseMBR">
                                                        MBR Groups
                                                    </a>
                                                </h5> 
                                            </div> 

                                            <div class="card-body collapse {% if form.add_mbr_group.data or form.mbr_group_deleted.data %} show {% endif %}" id="collapseMBR"> 

                                                <div class="row mb-2">
                                                    <div class="col-md-4">
                                                        {{ form.add_mbr_group(class="form-control btn-outline-primary") }}
                                                    </div>
                                                </div>
                                                {% for mbrg in form.mbr_groups %}
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ mbrg.group_name.label }}
                                                            {{ mbrg.group_name(class="form-control", placeholder="Enter MBR Group Name") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ mbrg.mbr_exp_ids.label }}
                                                            {{ mbrg.mbr_exp_ids(class="form-control", placeholder="Enter Exp IDs (comma separated)") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ mbrg.comp_method.label }}
                                                            {{ mbrg.comp_method(class="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ mbrg.strain.label }}
                                                            {{ mbrg.strain(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ mbrg.plasmid.label }}
                                                            {{ mbrg.plasmid(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ mbrg.model.label }}
                                                            {{ mbrg.model(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 align-self-end">
                                                        <div class="form-group">
                                                            {{ mbrg.mbr_group_delete(class="form-control btn-outline-danger") }}
                                                        </div>
                                                    </div>
                                                    {{ mbrg.hidden_tag() }}
                                                </div>
                                                {% endfor %}
                                            </div> 
                                        </div>

                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseFeeding" aria-expanded="true" aria-controls="collapseFeeding">
                                                        Feeding Config (optional)
                                                    </a>
                                                </h5> 
                                            </div> 
                                            <div id="collapseFeeding" class="card-body collapse"> 
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.feeding_start.label}}
                                                            {{ form.feeding.feeding_start(class="form-control", placeholder="Enter Start Time")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.feeding_start_unit.label}}
                                                            {{ form.feeding.feeding_start_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.feeding_stop.label}}
                                                            {{ form.feeding.feeding_stop(class="form-control", placeholder="Enter Stop Time")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.feeding_stop_unit.label}}
                                                            {{ form.feeding.feeding_stop_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.minimal_feed_volume.label}}
                                                            {{ form.feeding.minimal_feed_volume(class="form-control", placeholder="Enter Minimal Volume")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.minimal_feed_volume_unit.label}}
                                                            {{ form.feeding.minimal_feed_volume_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.maximal_feed_volume.label}}
                                                            {{ form.feeding.maximal_feed_volume(class="form-control", placeholder="Enter Maximal Volume")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.maximal_feed_volume_unit.label}}
                                                            {{ form.feeding.maximal_feed_volume_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.feeding_frequency.label}}
                                                            {{ form.feeding.feeding_frequency(class="form-control", placeholder="Enter Frequency")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.feeding.feeding_frequency_unit.label}}
                                                            {{ form.feeding.feeding_frequency_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ form.feeding.hidden_tag() }}
                                            </div> 
                                        </div>

                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseInduction" aria-expanded="true" aria-controls="collapseInduction">
                                                        Induction Config (optional)
                                                    </a>
                                                </h5> 
                                            </div> 
                                            <div id="collapseInduction" class="card-body collapse"> 
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.induction.induction_start.label}}
                                                            {{ form.induction.induction_start(class="form-control", placeholder="Enter Time Start")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.induction.induction_start_unit.label}}
                                                            {{ form.induction.induction_start_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.induction.induction_value.label}}
                                                            {{ form.induction.induction_value(class="form-control", placeholder="Enter Concentration")}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.induction.induction_unit.label}}
                                                            {{ form.induction.induction_unit(class="form-control")}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ form.induction.hidden_tag() }}
                                            </div> 
                                        </div>


                                        <div class="card"> 
                                            <div class="card-header" id="headingTwo"> 
                                                <h5 class="mb-0">
                                                    <a href="#!" class="text-secondary" data-toggle="collapse" data-target="#collapseCompWorkflow" aria-expanded="true" aria-controls="collapseCompWorkflow">
                                                        Computational Workflow Definition (optional)
                                                    </a>
                                                </h5> 
                                            </div> 
                                            <div id="collapseCompWorkflow" class="card-body collapse"> 
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.iterations.label}}
                                                            {{ form.comp_workflow.iterations(class="form-control", placeholder="Enter Number Iterations")}}
                                                        </div>                                                           
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.time_bw_samples.label}}
                                                            {{ form.comp_workflow.time_bw_samples(class="form-control", placeholder="Enter Time btw Samples")}}
                                                        </div>                                                           
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.time_first_sample.label}}
                                                            {{ form.comp_workflow.time_first_sample(class="form-control", placeholder="Enter Time First Sample")}}
                                                        </div>                                                           
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.time_to_process_sample.label}}
                                                            {{ form.comp_workflow.time_to_process_sample(class="form-control", placeholder="Enter Time To Process Sample")}}
                                                        </div>                                                           
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.time_start_checking_db.label}}
                                                            {{ form.comp_workflow.time_start_checking_db(class="form-control", placeholder="Enter Time Start Check DB")}}
                                                        </div>                                                           
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.time_bw_check_db.label}}
                                                            {{ form.comp_workflow.time_bw_check_db(class="form-control", placeholder="Enter Time Btw Checking DB")}}
                                                        </div>                                                           
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            {{ form.comp_workflow.time_unit.label}}
                                                            {{ form.comp_workflow.time_unit(class="form-control")}}
                                                        </div>                                                           
                                                    </div>
                                                </div>
                                                {{ form.comp_workflow.hidden_tag() }}
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                {{ form.create(class="form-control btn-primary") }}
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <hr>
                                        <label class="text-danger">Please, check these fields:</label><br>
                                        {% for field, errorMsg in form.errors.items() %}
                                        <label class="text-danger">{{ form[field].label }}:</label>
                                        <ul class="errors text-danger">
                                            {% for err in errorMsg %}                                        
                                            <li>{{ err }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </form>
                                </div>
                                
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
