{% extends "layouts/base.html" %}

{% block title %} Import Experiment {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>Import Experiment</h5>
                                    <hr>

                                    <form method="post" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                    
                                        <div class="card"> 
                                            <div class="card-header"> 
                                                <h5 class="mb-0">
                                                        Experiment Details
                                                </h5> 
                                            </div> 
                                            
                                            <div class="card-body"> 
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form.exp_name.label }}
                                                            {{ form.exp_name(class="form-control", placeholder="Enter Experiment Name") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form.init_time.label }}
                                                            {{ form.init_time(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form.bioreactor_type.label }}
                                                            {{ form.bioreactor_type(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form.exp_files.label }}
                                                            {{ form.exp_files(class="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>

                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}

                                        <div class="row">
                                            <div class="col-md-2">
                                                <button type="submit" id="submit-btn" class="btn btn-primary">
                                                    <span id="btn-text">Import</span>
                                                    <span id="btn-loading" style="display:none;">
                                                        <span class="spinner"></span>
                                                        Processing...
                                                    </span>
                                                </button>

                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                                
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.querySelector("form").addEventListener("submit", function () {
        const btn = document.getElementById("submit-btn");
        const text = document.getElementById("btn-text");
        const loading = document.getElementById("btn-loading");

        // Deshabilitar botón
        btn.disabled = true;

        // Cambiar texto
        text.style.display = "none";
        loading.style.display = "inline-block";
    });
</script>
{% endblock javascripts %}
